* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  font-family: sans-serif;
  color: white;
}

/*
  地域名、アイコン
*/
#header {
  display: flex;
  flex-direction: row;
}

#location_name {
  margin-right: 100px;
  font-size: 50px;
}

#reload_icon {
  margin-right: 64px;
}

#reload_icon:hover {
  cursor: pointer;
}

/*
  気温
*/
#temperature {
  display: flex;
  flex-direction: column;
}

#now_temperature {
  display: flex;
  flex-direction: row;
  margin: auto;
}

#now_temperature_degree {
  font-size: 64px;
  height: max-content;
  text-align: center;
  margin-right: 0.5em;
}

#now_temperature_degree:hover {
  cursor: pointer;
}

#now_temperature_unit {
  font-size: 24px;
  margin-top: auto;
}

#min_max_temperature {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 0px;
  font-size: 1em;
}

#max_temperature {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}

#max_temperature_label {
  margin-right: 0.5em;
}

#max_temperature_degree {
  margin-right: 0.5em;
}

#max_temperature_unit {
  font-size: 0.7em;
  margin-top: auto;
}

#min_temperature {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
}

#min_temperature_label {
  margin-right: 0.5em;
}

#min_temperature_degree {
  margin-right: 0.5em;
}

#min_temperature_unit {
  font-size: 0.7em;
  margin-top: auto;
}

/*
  天気詳細
*/
#weather_description {
  font-size: 16px;
}

/*
  詳細テーブル
*/

#property {
  margin-top: 50px;
}

#weather_property {
  display: flex;
  flex-direction: row;
}

tr {
  display: flex;
  flex-direction: row;
  width: 300px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  margin: 0 0 -1px -1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#table_bottom {
  border-bottom: 0;
}

.property_name {
  font-size: 1.2em;
  width: 100px;
}

.property_value {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-right: 0;
}

.value {
  font-size: 1em;
}

.unit {
  margin-top: auto;
  font-size: 0.9em;
  margin-left: 0.5em;
}